<!--
    Name: Jezreelson Sobremonte
    Course: WEBD-3008 (248294)
    Instructor: Jonathan Boisvert
    Challenge 6 (CRM App)
 -->

<div class="customer-card">
  <%= image_tag(customer.image) if customer.image.attached? %>
  <h3><%= customer.full_name %></h3>
  <p>Email: <%= customer.email_address %></p>
  <p>Phone: <%= customer.phone_number %></p>
  <p>Notes: <%= customer.notes %></p>
</div>
