<!--
    Name: Jezreelson Sobremonte
    Course: WEBD-3008 (248294)
    Instructor: Jonathan Boisvert
    Challenge 6 (CRM App)
 -->

<div class="customer-card card">
  <% if customer.image.attached? %>
    <%= image_tag(customer.image, class: "card-img-top rounded") %>
  <% end %>
  <div class="card-body">
    <h3 class="card-title"><%= customer.full_name %></h3>
    <p class="card-text text-muted">Email: <%= customer.email_address || "N/A" %></p>
    <p class="card-text">Phone: <%= customer.phone_number %></p>
    <p class="card-text"><%= customer.notes %></p>
  </div>
</div>

